.error-404 {
    margin-top: 50px;
    padding-top: 30vh;
    padding-bottom: 50vh;
    text-align: center;
    height: calc(80vh);

    h1 {
        font-size: 6em;
    }
    p {
        font-size: 2em;

        a {
            text-decoration: none;
        }
    }
}
