<header class="content-section">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" routerLink="/"><strong>Vinay Kumar Sharma</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="about-me" routerLinkActive="active" title="About Me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active" title="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="portfolio" routerLinkActive="active" title="Portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>
</header>