<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <ul>
                    <li>
                        <a routerLink="about-me" routerLinkActive="active">
                            <p>About Me</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/" routerLinkActive="active">
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="portfolio" routerLinkActive="active">
                            <p>Portfolio</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li>
                        <a rel="nofollow" href="https://www.facebook.com/vinay.onlife" target="_blank" title="Facebook">
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="https://twitter.com/VinayOnlife" target="_blank" title="Twitter">
                            <p>Twitter</p>
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="https://www.linkedin.com/in/vkindia/" target="_blank" title="LinkedIn">
                            <p>LinkedIn</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li>
                        <a href="https://XmlSitemapGenerator.org" target="_blank" title="Free Google XML Sitemap Generator">
                            <p>Sitemap</p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.000webhost.com/" target="_blank" title="Web Host">
                            <p>Web Host</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink="contact" routerLinkActive="active" title="Contact">
                            <p>Contact</p>
                        </a>
                    </li>
               </ul>
            </div>
            <div class="col-sm-3">
                <h3>Vinay Kumar Sharma</h3>
                <p>&copy; 2014-2021 | All Rights Reserved | Made with <span class="blink">&hearts;</span> in <strong>India</strong></p>
            </div>
        </div>
    </div>
</footer>