<main class="content-section about-me">
	<div class="container">
		<h1>
			About Me
			<hr>
		</h1>
		<p>
			Extensive experience across multi domain with a proven track record to support business goals & objectives in various software industries (startups/intermediate/service). Looking for an opportunity which will take me to the next level.
		</p>
		<h2>
			Employment Scan
			<hr>
		</h2>
		<ul>
            <li>
                <p>
                    Extensive experience in all phases of software development from requirement elicitation through project delivery.
                </p>
            </li>
            <li>
                <p>
                    Worked with Laravel, Angular, Elgg, Codeigniter, Django, Zend Framework and Opencart.
                </p>
            </li>
            <li>
                <p>
                    Utilized RabbitMQ for queuing process, ElasticSearch for Search improvement.
                </p>
            </li>
            <li>
                <p>
                    Big exposure of digital marketing support tools like SEO, SMO, Google Analytics, Keywords, Meta Tags, Page Speed Insights, Backlinks.
                </p>
            </li>
            <li>
                <p>
                    Build various applications using Jquery, Angular JS libraries & AJAX Technique etc.
                </p>
            </li>
            <li>
                <p>
                    Integrated payment gateway of Paypal, Payumoney and PayTM.
                </p>
            </li>
            <li>
                <p>
                    Ability to understand client requirements and build solutions to complete them.
                </p>
            </li>
            <li>
                <p>
                    Utilized JIRA, Trello, Taiga for agile development.
                </p>
            </li>
            <li>
                <p>
                    Knowledge of ER Diagram, Object Modelling & conceptualising the requirements of users.
                </p>
            </li>
            <li>
                <p>
                    Working experience on social media development [vast post mechanism, notification, messaging, user, organisation and team profiling] for sports with different tournament formats [knockout, league and Multistage].
                </p>
            </li>
            <li>
                <p>
                    Played a key role in development process e-commerce/retail, vertical e-commerce, packing, handling operations, courier management, reverse pickup management, customer care.
                </p>
            </li>
            <li>
                <p>
                    Discovered wrong product detection mechanism, Minimization of return/reversed product cost through traction.
                </p>
            </li>
            <li>
                <p>
                    Marketplace sheet preparation mechanism, Reduction of manual effort.
                </p>
            </li>
            <li>
                <p>
                    Developed Programs for Fraud Customer Detection Mechanism, Prevention of fraud orders, Inventory & Order Process Challenges, Smart UPC innovation, Return management, Accounts/Order/Return/Product/Customer reporting.
                </p>
            </li>
		</ul>

		<div class="row">
            <div class="col-sm-12">
                <h2>
                    Technical Stack
                    <hr>
                </h2>
            </div>
            <div class="col-sm-4">
                <ul class="technical-stack">
                    <li>
                        <h3>
                            Languages
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Php
                            </li>
                            <li>
                                Python
                            </li>
                            <li>
                                Html5
                            </li>
                            <li>
                                Css3
                            </li>
                            <li>
                                MySQL
                            </li>
                            <li>
                                Javascript
                            </li>
                            <li>
                                Typescript
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                C++
                            </li>
                            <li>
                                C#
                            </li>
                            <li>
                                Dart
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Framework
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Laravel
                            </li>
                            <li>
                                Django 
                            </li>
                            <li>
                                Angular
                            </li>
                            <li>
                                Codeigniter
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            CMS
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Elgg
                            </li>
                            <li>
                                Opencart
                            </li>
                            <li>
                                Wordpress
                            </li>
                        </ul>
                    </li>
                    </ul>
            </div>
            <div class="col-sm-4">
                <ul class="technical-stack">
                <li>
                    <h3>
                        Database
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            ScyllDB
                        </li>
                        <li>
                            Cassandra
                        </li>
                        <li>
                            MongoDB
                        </li>
                        <li>
                            CockroachDB
                        </li>
                        <li>
                            MySQL
                        </li>
                        <li>
                            SQLlite
                        </li>
                        <li>
                            Oracle
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>
                        Libraries
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            PHP Mailer
                        </li>
                        <li>
                            PHP Spreadsheet
                        </li>
                        <li>
                            Laravel Passport
                        </li>
                        <li>
                            Jquery
                        </li>
                        <li>
                            Bootstrap
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>
                        Repo Tools
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            Git
                        </li>
                        <li>
                            Turquiose
                        </li>
                        <li>
                            SVN
                        </li>
                        <li>
                            RabbitCVS
                        </li>
                        <li>
                            Bitbucket
                        </li>
                        <li>
                            Gitlab
                        </li>
                    </ul>
                </li>
            </ul>
            </div>   
            <div class="col-sm-4">
                <ul class="technical-stack">
                <li>
                    <h3>
                        Editors
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            Visual Studio Code
                        </li>
                        <li>
                            Editplus 3
                        </li>
                        <li>
                            Notepad++
                        </li>
                        <li>
                            Atom
                        </li>
                        <li>
                            Nano
                        </li>
                        <li>
                            Vi
                        </li>
                        <li>
                            Sublime
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>
                        Operating System
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            Linux (Ubuntu - 20/16.02/12.04)
                        </li>
                        <li>
                            Windows (10/7/XP)
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>
                        Tools
                        <hr>
                    </h3>
                    <ul>
                        <li>
                            JIRA (Agile Development)
                        </li>
                        <li>
                            Toad
                        </li>
                        <li>
                            Eclipse PHP Oxygen
                        </li>
                        <li>
                            MS-Office
                        </li>
                        <li>
                            Excel
                        </li>
                        <li>
                            Adobe Photoshop 7
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
        <h2>
            Awards & Certifications
            <hr>
        </h2>
        <ul>
            <li>
                <p>
                    Git Complete Certified by Udemy - Mar 2021
                </p>
            </li>
            <li>
                <p>
                    HTML/CSS Certification by Udemy - Mar 2021
                </p>
            </li>
            <li>
                <p>
                    2018 - Employee of the Year (Ethane Web Technologies. Pvt. Ltd.)
                </p>
            </li>
            <li>
                <p>
                    2 Times Employee of the month (Ethane Web Technologies. Pvt. Ltd.)
                </p>
            </li>
            <li>
                <p>
                    Employee of the month (Crunchy Fashion Pvt. Ltd.)
                </p>
            </li>
            <li>
                <p>
                    2nd Prize 2011 for Time Table Generator (Hi-Tech Institute of Engineering & Technology)
                </p>
            </li>
            <li>
                <p>
                    2nd Prize 2010 for Sudoku Solver (Hi-Tech Institute of Engineering & Technology)
                </p>
            </li>
        </ul>
	</div>
</main>

