<main class="content-section about-me">
    <div class="container">
        <h1>
            About Me
            <hr>
        </h1>
        <p>
            Welcome to my world,
        </p>
        <p>
            Embarking on a journey that spans over a decade, I've had the honor of exploring diverse domains. Through
            this time, I've woven a robust tapestry of experience, nurturing business goals across various software
            landscapes, ranging from the vibrant world of startups to the steady pulse of intermediate enterprises and
            the commitment of service-oriented establishments.
        </p>
        <p>
            As I stand at this juncture, it's with a hopeful heart that I express my aspiration for the next step in my
            journey. I'm actively seeking an opportunity that not only promises professional elevation but also
            resonates with a profound sense of fulfillment and growth.
        </p>
        <!-- Employment Scan -->
        <h2>
            Employment Scan
            <hr>
        </h2>

        <ul>
            <li>
                <p>Seasoned across the entire software development lifecycle, from eliciting requirements to delivering
                    projects.</p>
            </li>
            <li>
                <p>Proficiently adept with a range of frameworks including Laravel, Angular, Elgg, Codeigniter, Django,
                    Zend Framework, and Opencart.</p>
            </li>
            <li>
                <p>Applied RabbitMQ for streamlined queuing processes and harnessed ElasticSearch to enhance search
                    capabilities.</p>
            </li>
            <li>
                <p>Significant exposure to an array of digital marketing tools encompassing SEO, SMO, Google Analytics,
                    Keywords, Meta Tags, Page Speed Insights, and Backlinks.</p>
            </li>
            <li>
                <p>Crafted diverse applications using a mix of technologies such as jQuery, Angular JS libraries, and
                    AJAX Techniques.</p>
            </li>
            <li>
                <p>Integrated payment gateways including Paypal, Payumoney, and PayTM seamlessly.</p>
            </li>
            <li>
                <p>Endowed with the ability to comprehend client requisites and construct tailored solutions.</p>
            </li>
            <li>
                <p>Operationalized agile development through tools like JIRA, Trello, and Taiga.</p>
            </li>
            <li>
                <p>Possess an adept understanding of ER Diagrams, Object Modelling, and the art of conceptualizing user
                    requirements.</p>
            </li>
            <li>
                <p>Engaged in the dynamic realm of social media development, crafting expansive post mechanisms,
                    notifications, messaging, and intricate user, organization, and team profiles. This includes
                    catering to various sports tournament formats including knockout, league, and multistage.</p>
            </li>
            <li>
                <p>Played a pivotal role in the developmental journey of e-commerce, retail, vertical e-commerce,
                    packing, operational logistics, courier management, reverse pickup management, and customer care.
                </p>
            </li>
            <li>
                <p>Pioneered the discovery of mechanisms to detect incorrect products and minimize the costs associated
                    with product returns and reversals.</p>
            </li>
            <li>
                <p>Devised efficient marketplace sheet preparation mechanisms, leading to the reduction of manual
                    efforts.</p>
            </li>
            <li>
                <p>Engineered programs to combat fraudulent activities, encompassing customer detection mechanisms,
                    prevention of fraudulent orders, managing inventory and complex order processes, innovative UPC
                    strategies, return management, and comprehensive reporting on accounts, orders, returns, products,
                    and customers.</p>
            </li>
        </ul>

        <!-- Technical Stack -->
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    Technical Stack
                    <hr>
                </h2>
            </div>
            <div class="col-sm-4">
                <ul class="technical-stack">
                    <li>
                        <h3>
                            Languages
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Php
                            </li>
                            <li>
                                Python
                            </li>
                            <li>
                                Html5
                            </li>
                            <li>
                                Css3
                            </li>
                            <li>
                                MySQL
                            </li>
                            <li>
                                Javascript
                            </li>
                            <li>
                                Typescript
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                C++
                            </li>
                            <li>
                                C#
                            </li>
                            <li>
                                Dart
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Framework
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Laravel
                            </li>
                            <li>
                                Django
                            </li>
                            <li>
                                Angular
                            </li>
                            <li>
                                Codeigniter
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            CMS
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Elgg
                            </li>
                            <li>
                                Opencart
                            </li>
                            <li>
                                Wordpress
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="technical-stack">
                    <li>
                        <h3>
                            Database
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                ScyllDB
                            </li>
                            <li>
                                Cassandra
                            </li>
                            <li>
                                MongoDB
                            </li>
                            <li>
                                CockroachDB
                            </li>
                            <li>
                                MySQL
                            </li>
                            <li>
                                SQLlite
                            </li>
                            <li>
                                Oracle
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Libraries
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                PHP Mailer
                            </li>
                            <li>
                                PHP Spreadsheet
                            </li>
                            <li>
                                Laravel Passport
                            </li>
                            <li>
                                Jquery
                            </li>
                            <li>
                                Bootstrap
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Repo Tools
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Git
                            </li>
                            <li>
                                Turquiose
                            </li>
                            <li>
                                SVN
                            </li>
                            <li>
                                RabbitCVS
                            </li>
                            <li>
                                Bitbucket
                            </li>
                            <li>
                                Gitlab
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="technical-stack">
                    <li>
                        <h3>
                            Editors
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Visual Studio Code
                            </li>
                            <li>
                                Editplus 3
                            </li>
                            <li>
                                Notepad++
                            </li>
                            <li>
                                Atom
                            </li>
                            <li>
                                Nano
                            </li>
                            <li>
                                Vi
                            </li>
                            <li>
                                Sublime
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Operating System
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                Linux (Ubuntu - 20/16.02/12.04)
                            </li>
                            <li>
                                Windows (10/7/XP)
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>
                            Tools
                            <hr>
                        </h3>
                        <ul>
                            <li>
                                JIRA (Agile Development)
                            </li>
                            <li>
                                Toad
                            </li>
                            <li>
                                Eclipse PHP Oxygen
                            </li>
                            <li>
                                MS-Office
                            </li>
                            <li>
                                Excel
                            </li>
                            <li>
                                Adobe Photoshop 7
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Awards & Certifications -->
        <h2>
            Awards & Certifications
            <hr>
        </h2>
        <ul>
            <li>
                <p><strong>Git Complete Certified</strong> by Udemy - Mar 2021</p>
            </li>
            <li>
                <p><strong>HTML/CSS Certification</strong> by Udemy - Mar 2021</p>
            </li>
            <li>
                <p>Recognized as the <strong>Employee of the Year</strong> (2018) at Ethane Web Technologies Pvt. Ltd.
                </p>
            </li>
            <li>
                <p>Honored twice as the <strong>Employee of the Month</strong> at Ethane Web Technologies Pvt. Ltd.</p>
            </li>
            <li>
                <p>Commended as the <strong>Employee of the Month</strong> at Crunchy Fashion Pvt. Ltd.</p>
            </li>
            <li>
                <p>Secured the <strong>2nd Prize</strong> in 2011 for creating an innovative Time Table Generator at
                    Hi-Tech Institute of Engineering & Technology.</p>
            </li>
            <li>
                <p>Showcased prowess by securing the <strong>2nd Prize</strong> in 2010 for developing a Sudoku Solver
                    at Hi-Tech Institute of Engineering & Technology.</p>
            </li>
        </ul>
    </div>
</main>