<main class="content-section contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>
					Location
					<hr>
				</h3>
				<section>
					<address>
						<i class="fas fa-map-marker-alt" title="Address"></i> 
							H/N B-355, Deen Dayal Nagar,
						<br>Near <em>Bharat Mata</em> Mandir 
						<br><strong><a rel="nofollow" href="https://en.wikipedia.org/wiki/Jhansi" target="_blank">Jhansi</a>, <a rel="nofollow" href="https://en.wikipedia.org/wiki/Uttar_Pradesh">Uttar Pradesh</a> 284003</strong>
						<br><strong><a rel="nofollow" href="https://en.wikipedia.org/wiki/India">India</a></strong>	
					</address>
				</section>
			</div>
			<div class="col-md-6">
				<h3>
					Contact Details
					<hr>
				</h3>
				<section>
					<p class="mb-0">
						<i class="fas fa-envelope" title="Email"></i>&nbsp;
						<a href="tel:+918800637951"><strong>+91-8800637951</strong></a>
					</p>
					<p>
						<i class="fas fa-mobile" title="Contact"></i>&nbsp;
						<a href="mailto:er.vinay.india@gmail.com"><strong>er.vinay.india@gmail.com</strong></a>
					</p>
				</section>
			</div>
		</div>
		<div class="row">
			<div col-sm-12>
				<iframe title="Map" loading="lazy" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=78.46693038940431%2C25.39955326333251%2C78.68768692016602%2C25.502939484096334&amp;layer=mapnik&amp;marker=25.451324567626305%2C78.57734298915602" style="border: 1px solid black"></iframe>
				<br/>
				<small>
					<a href="https://www.openstreetmap.org/?mlat=25.4513&amp;mlon=78.5773#map=13/25.4513/78.5773">View Larger Map</a>
				</small>
			</div>
		</div>
		
	</div>
</main>