<div class="container-banner">
    <div class="heroText">
        <h1>
            Vinay Kumar Sharma
        </h1>
        <h2 class="caption">
            <hr>
            A Technical Soul
            <hr>
        </h2>
        <p>
            Coding is an art & i am an artist.
        </p>
        <p>
            <a href="mailto:er.vinay.india@gmail.com"><i class="fas fa-envelope"></i> er.vinay.india@gmail.com &nbsp;</a> 
            <a href="tel:+918800637951"><i class="fas fa-mobile"></i> +91-8800637951</a>
        </p>
    </div>
</div>