<main class="content-section">
    <app-top-container></app-top-container>
    <div class="container mid-content">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h3>Salutations, cherished companions!</h3>
                <p>
                    Embarking upon a dynamic odyssey that has stretched across a decade in the realm of software development, I stand as a fervent code maestro. My essence thrives in architecting ingenious solutions and orchestrating their implementation with finesse. This expedition has not only honed my abilities to a razor's edge but has also ignited an unrelenting hunger for conquering new horizons and embracing boundless growth.
                </p>
                <p>
                    In the midst of this exhilarating journey, your unswerving backing and motivation have served as the propellant for my aspirations. As my evolution persists, I am profoundly appreciative of the privilege to share my tales and wisdom with you.
                </p>
                <blockquote>
                    <p>May your enduring affection and support continue to stoke the flames of my voyage,</p>
                    <footer>— Vinay Kumar Sharma</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item" *ngFor="let img of imgs">
                <a href="#" data-toggle="modal" data-target="#cmModal" (click)="openModal(img)" [title]="'Open the image ' + img.title + ' captured at ' + img.location">
                    <img *ngIf="img.srcSm" [src]="img.srcSm" [alt]="img.title + ' - ' + img.location" [title]="img.title + ' at ' + img.location">
                </a>
            </div>
          </div>
    </div>
    <div class="container mid-content">
        <div class="row">
            <div class="col-sm-12">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/banner/ban001.webp" alt="Los Angeles">
                            <div class="carousel-caption">
                                <h3>Life is so beautiful</h3>
                                <p>I am thankful for nature!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/banner/ban002.webp" alt="Chicago" loading="lazy">
                            <div class="carousel-caption">
                                <h3>It is full of surprises</h3>
                                <p>That's make me lucky!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/banner/ban003.webp" alt="New York" loading="lazy">
                            <div class="carousel-caption">
                                <h3>It is a gift by nature</h3>
                                <p>We should always conserve it!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev" title="Previous Slide">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next" title="Next Slide">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <!-- <div class="col-sm-4">
            </div> -->
        </div>
    </div>
</main>