<main class="content-section">
    <app-top-container></app-top-container>
    <div class="container mid-content">
        <div class="row">
            <div class="col-sm-12">
                <h3>Welcome ! Friends . . .</h3>
                <p>
                    I am a software developer. Loves to code, find solutions and execute it professionally. That is my thrust power.</p>
                <p>Your love &amp; support makes me better everytime - Vinay Kumar Sharma</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item" *ngFor="let img of imgs">
                <a href="#" data-toggle="modal" data-target="#cmModal" (click)="openModal(img)">
                    <img [src]="img.src" [alt]="img.tittle + ' - ' + img.location" [title]="img.tittle + ' - ' + img.location">
                </a>
            </div>
          </div>
    </div>
    <div class="container mid-content">
        <div class="row">
            <div class="col-sm-12">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/image/banner/ban001.jpg" alt="Los Angeles">
                            <div class="carousel-caption">
                                <h3>Life is so beautiful</h3>
                                <p>I am thankful for nature!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/banner/ban002.jpg" alt="Chicago" loading="lazy">
                            <div class="carousel-caption">
                                <h3>It is full of surprises</h3>
                                <p>That's make me lucky!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/image/banner/ban003.jpg" alt="New York" loading="lazy">
                            <div class="carousel-caption">
                                <h3>It is a gift by nature</h3>
                                <p>We should always conserve it!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <!-- <div class="col-sm-4">
            </div> -->
        </div>
    </div>
</main>